extends index.pug
block mainPlaceHolder
    h1=title
    h4=subTitle
    table.table.table-hover.table-striped
        thead
            tr
                th Employees name
                th City
                th contact
                th email
                th show details
        tbody
        each emp in employees
            tr
                td=emp.employeeName
                td=emp.city
                td=emp.phone
                td=emp.email
                td
                    button.btn.btn-primary show details
